@tailwind base;
@tailwind components;
@tailwind utilities;

.active-link {
  color: #007acc; /* Example color for active links */
  text-decoration: underline;
}

.centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
}