@tailwind base;
@tailwind components;
@tailwind utilities;

.active-link {
  color: #007acc;
  text-decoration: underline;
}

.centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.pokemon-card {
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    width: 300px;
    background-color: white;

}

.trainer-card {
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  width: 200px;
  background-color: #94C1FA;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.leader-card {
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  width: 200px;
  background-color: #E394DC;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokemon-sprite, .pokemon-ivs, .pokemon-details {
    margin-bottom: 10px;
}

.pokemon-sprite {
    height: 50px; 
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pokemon-ivs, .pokemon-details {
    background-color: #e9e9e9; 
}